{{#extends "base"}}
{{#block "content"}}
<h1>Watch Form</h1>
<form method="post">
    <div class="mb-3">
        <label for="brand" class="form-label">Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" required>
    </div>

    <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <input type="text" class="form-control" id="model" name="model" required>
    </div>
    <div>
        <label>State of watch:</label>
        <input type = "radio" name="state_of_watch" value="new" checked/><label>New</label>
        <input type = "radio" name="state_of_watch" value="used" /><label>used</label>
        <input type = "radio" name="state_of_watch" value="vintage" /><label>vintage</label>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" required>
    </div>

    <div class="mb-3">
        <label for="date_of_watch" class="form-label">Date of Watch [YYYY-MM-DD]</label>
        <input type="text" class="form-control" id="date_of_watch" name="date_of_watch" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{/block}}
{{/extends}}