{{#extends "base"}}
{{#block "content"}}
    <h1>Watch Form</h1>
    <form method="post">
        <div class = "mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" class="form-control" id="firstName" name="first_name" required>
        </div>
    </form>

{{/Block}}
{{/extends}}